.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    border: solid 3px rgb(255, 181, 44);
    border-radius: 12px;
    padding: 5px;
    padding-bottom: 1.5rem;
    transition: transform 0.2s;
}


img {
    border-radius: 5px;
}

.genres {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 5px
}

button {
    align-self:center;
}

span {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


