.card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: solid 3px rgb(225, 146, 0);
    border-radius: 12px;
    padding: 5px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
}

img {
    border-radius: 5px;
}

.genres {
    display: flex;
    justify-content:center;
    gap: 6px
}

span {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


