:root {
    --text: #6b6375;
    --title: #08060d;
    --bg: #fdf0dc;

    --sans: system-ui, "Segoe UI", Roboto, sans-serif;
    --heading: system-ui, "Segoe UI", Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;

    background: var(--bg);
}

#root {
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fdf0dc;
    background-color: rgb(255, 181, 44);
    padding: 8px;
    font-size: 1.3rem;
    border-radius: 7px;
    transition: transform 0.2s;
}

a:hover {
    transform: scale(1.03);
}

button {
    text-decoration: none;
    color: #fdf0dc;
    background-color: rgb(255, 181, 44);
    padding: 8px;
    font-size: 1.3rem;
    border-radius: 7px;
    transition: transform 0.2s;
    border: none;
    max-width: 7rem;
}

button:hover {
    transform: scale(1.03);
}

body {
    margin: 0;
}

h1,
h2 {
    font-family: var(--heading);
    font-weight: bold;
    color: var(--title);
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 24px;
    margin: 0;
}

p {
    margin: 0;
}
